@import "../../App.scss";

.btnComprar {
    background-color: $pazNegro;
    color: $pazGrisClaro;
    border-radius: 50px;
    padding: 15px 10px;
    width: 200px;   
    cursor: pointer;
    text-align: center;
}
