@import "../../App.scss";

p {
    color: $pazNegro;
}

@keyframes circle-in-hesitate {
    0% {
    clip-path: circle(0%);
    }
    40% {
    clip-path: circle(40%);
    }
    100% {
    clip-path: circle(125%);
    }
}

[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid transparent;
    a {
        color: inherit;
        font-weight: 600;
    }
}

.cardCol {
    display: flex;
    align-items: center;
    max-height: 300px;
}

.cardImg {
    height: 280px;
}

.cardMarca {
    font-size: 1.5rem;
    font-weight: 800;
}

.cardVarietal {
    font-size: 1rem;
    font-weight: 600;
    color: $pazDorado;
}

.cardPrecio {
    font-size: 1.2rem;
    font-weight: 600;
}

.cardStock {
    font-size: 1rem;
    font-weight: 400;
}

.cardCol-2 {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

