* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding-right: 5%;
  padding-left: 5%;
}

// COLORES

$pazNegro: #282423;
$pazGrisOscuro: #7E7E7E;
$pazGrisClaro: #EBEAE5;
$pazDorado: #BB9818;

$intocablesNegro: #232323;
$intocablesGrisOscuro: #6F6E6C;
$intocablesGrisClaro: #D3D2D1;
$intocablesVioleta: #663E56;

$almaMoraNegro: #282423;
$almaMoraGrisClaro: #C8C5C3;
$almaMoraRosaOscuro: #C4654F;
$almaMoraRosaClaro: #F2CEAE;

$almaMoraSelNegro: #333333;
$almaMoraSelGrisClaro: #D8D9DA;
$almaMoraSelRosa: #CA7F55;

$dadaNegro: #232026;
$dadaGris: #E7E9E2;
$dadaRojo: #BC051A;
$dadaDorado: #D48528;





