@import '../../App.scss';

.buttonItemCount {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid $pazNegro;
        border-radius: 100%;
        background-color: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    button:hover{
        background-color: whitesmoke;
    }
}
